apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    name: in-cluster
    namespace: monitoring
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: ${HELM_VERSION}
    chart: kube-prometheus-stack
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
