name: gcp-potential-disco-teardown

on:
  workflow_dispatch:

env:
  WORKING_DIR: infrastructure 
  TFVAR_project:  ${{ vars.TFVAR_GCP_PROJECT }}

jobs:
  setup:
    runs-on: ubuntu-latest
    environment: "PRD"
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR }}
    steps:
    - uses: actions/checkout@v3

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: google-github-actions/auth@v0.7.0
      with:
        create_credentials_file: 'true'
        workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}

    - uses: opentofu/setup-opentofu@v1

    - name: OpenTofu Init
      id: init
      run: |
        echo "TFVAR_project: $TFVAR_project"
        tofu init
      env:
         TFVAR_project: ${{ vars.TFVAR_GCP_PROJECT }}

    - name: OpenTofu Destroy
      id: destroy
      run: tofu destroy -auto-approve
      continue-on-error: true
